name: Offline ML Automation

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Get code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install libraries
      run: |
        pip install scikit-learn joblib

    - name: Train model
      run: python train.py

    - name: Test model
      run: python test.py
